<!-- your html code here -->
<div>
    <div class="container py-4">
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        <div class="d-flex justifice-content-start">
            <img class="rounded-circle ms-3" src="./assets/img/2.jpg" alt="Imagen" width="240px" height="240px">
            <div>
                <h1>
                    The second heading <span class="text-muted">Is pretty cool too.</span>
                    
                </h1>
                <p>lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla officia corrupti omnis velit
                        aliquid sequi ipsam voluptatem dolorem. Deleniti doloremque reiciendis fugiat similique,
                        perspiciatis nam veritatis minima cumque magni? Id?</p>
            </div>

        </div>
    </div>
</div>